/*
  < Imports >
*/

// fonts
@import "fonts/_fonts";

// helpers:
@import "helpers/helpers";

// modules
@import "modules/modules";

// base
@import "base/base";

/*
  < Styles >
*/
.main-view{
  @include flex-parent($fd: column, $jc: center, $ai: center);
  height: 100vh;
  background-image: url('../images/bg.png');
  background-size: cover;
  background-position: center;
    .main-header {
      border-left: 3px solid white;
      padding-left: 20px;
        h1 {
          margin: 0;
          color: white;
          font-size: 33px;

          &:last-child {
            margin-top: 30px;
          }
        }
    }

}
.content {
  padding: 0;
  #section-1 {
    padding: 7vw 15vw;
    header{
      h2,p {
        font-size: 40px;
        color: $brand-dark-color;
      }
      p {
        margin-top: 25px;
        font-size: 30px;
        line-height: 35px;
      }
    }

  }

  #section-video {
    height: 28vw;
    background-color: $brand-gray;
  }

  #section-features {
    padding: 3vw 7vw;

      .feature {
        @include flex-parent($fd: column, $jc: flex-end, $ai: flex-start);
        width: 100%;
        height: 13vw;
        margin: 2vw 0 1vw 0;
        //TODO: change to images later
        background-color: $brand-gray;

          p {
            margin: 3vw;
            font-size: 20px;
            line-height: 24px;
            color: white;
          }
      }

      .small-description {
        padding: 0 3vw;
        font-size: 15px;
        color: $brand-gray;
      }
  }

  #section-industries {
    padding: 3vw 7vw;
  }

  .two-buttons {
    padding: 0 50px;
    .wrap-btn {
      padding: 0 50px;
      .button {
        margin: 90px 0;
        padding: 20px 15px;

        .btn-text{
          font-size: 25px;
          color: white;
        }
        &-dark{
          background-color: $brand-dark-color;
        }

        &-light{
          background-color: $brand-color;
        }

      }
    }

  }

  .section-header {
    color: $brand-color;
    font-size: 30px;
  }

}
