// Offsets
$offset-mobile-xs:  0;
$offset-mobile-sm:  0;
$offset-mobile-md:  0;
$offset-mobile-lg:  0;
$offset-mobile-xl:  0;

$offset-desktop-xs: 0;
$offset-desktop-sm: 0;
$offset-desktop-md: 0;
$offset-desktop-lg: 0;
$offset-desktop-xl: 0;

$brand-dark-color: #212b2d;
$dark-green: #172a30;
$brand-color: #234f76;
$brand-gray: #414a4b;
$bg-color: #f8f8f8;