// Offsets
$offset-mobile-xs:  0;
$offset-mobile-sm:  0;
$offset-mobile-md:  0;
$offset-mobile-lg:  0;
$offset-mobile-xl:  0;

$offset-desktop-xs: 0;
$offset-desktop-sm: 0;
$offset-desktop-md: 0;
$offset-desktop-lg: 0;
$offset-desktop-xl: 0;

$brand-dark-color: #212b2d;
$brand-color: #29858f;
$brand-gray: #414a4b;